@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(110deg, rgba(17, 17, 17, 0.6) 5%, rgba(5, 17, 19, 0.65) 50%, rgba(7, 150, 205, 0.5) 95%), url(./images/e60c53a57db0e13a08965fca3a1ca985.jpg);
  background-position: center;
  background-size: cover;
  font-family: Gill Sans Extrabold, sans-serif;
  height: 100vh;
  overflow: hidden;
}

#title {
  margin: 2rem 2rem 0;
  font-size: 1.5rem;
  margin-left: 250px;
}

#title h1 {
  display: flex;
  font-size: 3rem;
  letter-spacing: 3px;
  font-size: 5rem;
  font-family: "Minecrafter.Alt", sans-serif;
  color: rgb(240, 235, 235);
  text-shadow: 0 0 0 transparent,
              0 0 10px #ff003c,
              0 0 20px rgba(255, 0, 60, 0.5),
              0 0 40px #ff003c,
              0 0 100px #ff003c,
              0 0 200px #ff003c,
              0 0 300px #ff003c,
              0 0 500px #ff003c,
              0 0 1000px #ff003c;
  animation: animate 2s infinite alternate;
}

@keyframes animate {
  40%{
    opacity: 1;
  }
  42%{
    opacity: 0.8;
  }  
  43%{
    opacity: 1;
  }
  45%{
    opacity: 0.3;
  }
  46%{
    opacity: 1;
  }
  
}

#wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 15rem;
}

.score-board {
  width: 40vw;
}

ul {
  border: 2px solid black;
  margin-top: 1rem;
  padding: 1rem;
  padding-top: 40px;
  width: 350px;
}

li {
  list-style-type: none;
  margin-bottom: 1.3rem;
}

#score_input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1.5rem;
  color: aqua;

}

form {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.refreshbtn {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  justify-content: space-between;
  padding: 29px;
  color: aqua;
}

.score-list {
  display: flex;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 4px solid #80d43bcb;
  border-radius: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  padding: 1rem;
  background: #22506ec4;
  max-height: 50vh;
  overflow: scroll;
}

.add_score {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.add_score input {
    height: 42px;
    width: 15vw;
    outline: none;
    border: 4px solid #80d43bcb;
    border-radius: 5px;
    font-weight: 600;
    color: rgb(181, 181, 181);
    background: #b2c0c5a7;
    padding-left: 0.5rem;
}

::placeholder {
  color: rgb(80, 76, 76);
}

.score-List {
  word-spacing: 2px;
  width: 100%;
  color: rgb(181, 181, 181);
  font-weight: 600;
  padding: 0.5rem 1rem;
}

button {
  padding: 0.5rem;
}

.btn {
  margin-left: 65%;
}

button {
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 0.75rem;
  color: #dfbfbf;
  background: #326bb0bc;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: small;
  text-align: center;
}